<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/style.css">
    <title>Home</title>
  </head>
  <body>

    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
        <a class="navbar-brand" href='/'>
          <img src="/public/assets/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-dark" aria-current="page" href='/'>Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active text-dark nav-icon-active" href='/my-project' >Add Project</a>
            </li>
          </ul>
          <a href='/contact-me' class="btn btn-contactMe text-white">Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- home -->
    <div class="container-1 d-flex justify-content-center align-items-center">
      <div class="containerHome">
        <div class="personalcard">
            <h2>Hi Welcome to my hut</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quis quasi id consequatur et dicta a voluptatum quibusdam eos, dignissimos, ullam, nulla suscipit accusantium qui molestias dolorum fugiat obcaecati nostrum.</p>
            <div class="pc-me">
                <div class="pc-contact">
                    <a href="https://wa.me/6281513424999" class="contact" target="_blank">Contact</a>
                    <a href="#" class="download">Download<i class="bi bi-download"></i></a>
                </div>

                <div class="pc-sm">
                    <a href="https://www.linkedin.com/in/dwi-yoga-2b8702246/" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/dwiyoga00/" target="_blank"> <i class="bi bi-instagram"></i></a>
                    <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="images">
            <img src="/public/assets/astronot.jpg" class="image">
            <div class="textName">
                <h3>Dwi Yoga</h3>
                <p>FullStack Developer</p>
            </div>
        </div>
      </div>
    </div>
    <!-- home -->

    <!-- Start MyProject -->
    <section class="container-2">
      {{#if isLogin}}
      <div>
        <a href="/my-project" class="btn text-white button-project" >Add New Project</a>
      </div>
      {{/if}}
      <h4>MY PROJECT</h4>
      <div class="project-list" id="project-list">
        <div class="project-list-item">
          
            <div class="card-img">
              <img src="/public/assets/astronotA.jpg" alt="" />
            </div>
            <div class="card-title">
              <a href='/detail-project/test-dummy' style="text-decoration: none; color:black">
                <h3>Test Dummy</h3>
              </a>
            </div>
            <div class="card-drt">
              <p>durasi 3 bulan</p>
            </div>
            <div class="card-desc">
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                  dignissimos!
                  Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
            <div class="card-icon">
              <img id="angular" src="/public/assets/angular.png" alt="" />
              <img id="react" src="/public/assets/react.png" alt="" />
              <img id="node" src="/public/assets/node.png" alt="" />
              <img id="vue" src="/public/assets/vue2.png" alt="" />
            </div>
          
          {{#if isLogin}}
            <div class="card-btn">
              <div class="edit-btn">
                <button>edit</button>
              </div>
              <div class="del-btn">
                <button>delete</button>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </section>
    <!-- End MyProject -->
    
    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>